<!DOCTYPE html>
<html>
    <head>
    
	    <meta charset="utf-8"/>

		<title> Web Page</title>
		<link rel="stylesheet" href="css/bootstrap.css" media="screen"/>
		<link rel="icon" href="images/favicon.ico" type="image/x-icon"/>
		<link href="/css/style.css" rel="stylesheet"/>

    </head>

    <body>

    <div class="page-header">
        <div class="name">
                 <a href="About us.html"><img src="images/imageHeader.jpg" title="Отзывчивое изображение в Bootstrap" width="1315" height="300" /></a>
	               
	    </div> 
	</div>

		<ol class="breadcrumb">
		  <li><a href="Home.html">Домашня сторінка</a></li>
		  <li><a href="Cathalogs.html">Каталог</a></li>
		  <li><a href="About us.html">Про нас</a></li>
		  <li><a href="Contacts.html">Наші контакти</a></li>
		</ol>

				<p align="center">  
					<div class="container">
					  <div class="row">

					               
							<div class="col-xs-6 col-md-3" style="height:100%; background:orange;">
								
						

						<div class="nav">	
							 <ul class="nav nav-list" >
								  <li  class="active" color="red">
								    <a href="#"><strong>Популярне</strong></a>
								  </li>
								  <li>
								    <a href="#"><strong>Нове</strong></a>
								  </li>
								   <li>
								    <a href="#"><strong>Бестселлери</strong></a>
								  </li>
							</ul>
						</div> 
								 
								
							</div>
	
					 <div class="col-xs-12 col-md-9" style="height:100%; background:gray;">
						<div class="container">
							
							<div class="row">
								<form method="POST" action="/post">
									<div class="form-group">
										<label id="lab" for="post-text">Будь-ласка залиште відгук</label>
										<textarea class="form-control" rows="3" name="text" id="post-text"></textarea>
									</div>
									<button type="submit" class="btn btn-success">Додати</button>
								</form>
							</div>

							<!--  id="labs" in style.css  -->
							<div class="row" id="labs"  th:each="post: ${posts}">
								<hr/>
						        <strong class="pull-left primary-font" th:text="${post.author}">Логін</strong>
						        <small class="pull-right text-muted">
						           <span class="glyphicon glyphicon-time"/> 
						           <span th:text="${#dates.format(post.createdAt, 'HH:mm dd.MM.yy')}"/>
					            </small>
						        <br/>
						        <div class="text-justify" th:text="${post.text}">Текст повідомлення</div>
							</div>
						
					   </div>

					  
					  </div>
					  </div>
					</div>

				</p> 
	
		</body>
</html>
