<!DOCTYPE html>
<html>
	<head>
    
	    <meta charset="utf-8"/>

		<title> Web Page</title>
		<link rel="stylesheet" href="css/bootstrap.css" media="screen"/>
		<link rel="icon" href="images/favicon.ico" type="image/x-icon"/>
		<link href="/css/style.css" rel="stylesheet"/>

    </head>

 <body>

    <div class="page-header">
        <div class="name">
	               <img src="images/imageHeader.jpg" width="1315" height="300" title="Отзывчивое изображение в Bootstrap" />
	    </div> 
	</div>

		<ol class="breadcrumb">
		  <li><a href="Home.html">Домашня сторінка</a></li>
		  <li><a href="Cathalogs.html">Каталог</a></li>
		  <li><a href="About us.html">Про нас</a></li>
		  <li><a href="Contacts.html">Наші контакти</a></li>
		  <li><a href="API.html">API</a></li>
		</ol>


<p align="center">  
					<div class="container">
					  <div class="row">

					               
							<div class="col-xs-6 col-md-3" style="height:300px; background:orange;">
								
								<div class="nav">	
									 <ul class="nav nav-list" >
										  <li  class="active" color="red">
										    <a href="#"><strong>Популярне</strong></a>
										  </li>
										  <li>
										    <a href="#"><strong>Нове</strong></a>
										  </li>
										   <li>
										    <a href="#"><strong>Бестселлери</strong></a>
										  </li>
									</ul>
								</div> 
					      </div>
					      
					    <div class="col-xs-12 col-md-9" style="background:green;">
                            <p> <IMG SRC="images/KroCahes.jpg" class="leftimg"/> (1) <b>Эрнст Теодор Амадей Гофман. КРОШКА ЦАХЕС. ПОВЕЛИТЕЛЬ БЛОХ. ЗОЛОТОЙ ГОРШОК. ПЕСОЧНЫЙ ЧЕЛОВЕК. ЩЕЛКУНЧИК.</b>
								</p>
								<h5>Гофман Э. Т. А.</h5>
								<h5>Крошка Цахес, по прозванию Циннобер. Повелитель блох. Золотой горшок. Песочный человек. Щелкунчик и мышиный король / Перевод с нем. — М.:«Издательство АЛЬФА-КНИГА», 2013. — 378 с.:ил. — (Собрание мировой классики).</h5>
								<h5>7Бц Формат 84х108/32 Тираж 6 000 экз.
								<br/>ISBN 978-5-9922-1411-6</h5>
								<p>Эрнст Теодор Амадей Гофман (1776—1822) — писатель, классик немецкой литературы, непревзойденный мистификатор и сказочник-мистик, мастер захватывающего и непредсказуемого сюжета.
								</p>
								<p>В настоящее издание вошли сказочно-сатирические произведения писателя — «Крошка Цахес, по прозванию Циннобер», «Повелитель блох», «Золотой горшок», «Песочный человек» и «Щелкунчик и мышиный король».
								<br clear="all"/></p>
								<h6>&nbsp;</h6>
								<p></p>
<hr></hr>		
								<p> <img src="images/EvBTZn4h.jpg" class="leftimg"/> (2) <b>Артур Конан Дойл. ЭТЮД В БАГРОВЫХ ТОНАХ. ЗНАК ЧЕТЫРЕХ. ДОЛИНА СТРАХА.</b>
								</p>
								<h5>Дойл, Артур Конан</h5>
								<h5>Этюд в багровых тонах. Знак четырех. Долина страха / Перевод с англ. — М.:«Издательство АЛЬФА-КНИГА», 2013. — 376 с.:ил. — (Собрание мировой классики).</h5>
								<h5>7Бц Формат 84х108/32 Тираж 6 000 экз.
								<br/>ISBN 978-5-9922-1399-7</h5>
								<p>Сэр Артур Конан Дойл (1859—1930) — классик британской литературы, один из родоначальников детективного жанра. Автор популярных приключенческих, научно-фантастических и исторических произведений, среди которых мировое признание писателю принесла серия о сыщике Шерлоке Холмсе и его верном спутнике докторе Уотсоне.
								</p>
								<p>В настоящее издание вошли три повести о приключениях Шерлока Холмса: «Этюд в багровых тонах» (1887 г.) — именно в ней впервые появляется знаменитый сыщик, «Знак четырех» (1890 г.) и «Долина страха» (1915 г.).
								<br clear="all"/></p>
								<h6>&nbsp;</h6>
								<p></p>
<hr></hr>
								<p></p>
								<p> <img src="images/MasIMarg.jpg" class="leftimg"/> (3) <b>Михаил Булгаков. МАСТЕР И МАРГАРИТА.</b>
								</p>
								<h5>Булгаков М.А.</h5>
								<h5>Мастер и Маргарита — М.:«Издательство АЛЬФА-КНИГА», 2013. — 378 с.:ил. — (Собрание мировой классики).</h5>
								<h5>7Бц Формат 84х108/32 Тираж 6 000 экз.
								<br/>ISBN 978-5-9922-1400-0</h5>
								<p>Михаил Афанасьевич Булгаков (1891—1940) — выдающийся русский писатель и драматург. Автор романов, повестей, рассказов, фельетонов, пьес.
								</p>
								<p>В настоящем издании публикуется самый известный его роман «Мастер и Маргарита», который по праву принадлежит к золотому фонду русской классики.
								<br clear="all"/></p>
								<h6>&nbsp;</h6>
								<p></p>

<hr></hr>
								<p> <img src="images/EPPAShHo.jpg" class="leftimg"/> (6) <b>Артур Конан Дойл. ЕГО ПРОЩАЛЬНЫЙ ПОКЛОН. АРХИВ ШЕРЛОКА ХОЛМСА.</b>
								</p>
								<h5>Дойл, Артур Конан</h5>
								<h5>Его прощальный поклон. Архив Шерлока Холмса / Перевод с англ. — М.:«Издательство АЛЬФА-КНИГА», 2013. — 408 с.:ил. — (Собрание мировой классики).</h5>
								<h5>7Бц Формат 84х108/32 Тираж 6 000 экз.
								<br/>ISBN 978-5-9922-1428-4</h5>
								<p>Сэр Артур Конан Дойл (1859—1930) — классик британской литературы, один из родоначальников детективного жанра. Автор популярных приключенческих, научно-фантастических и исторических произведений, среди которых мировое признание писателю принесла серия о сыщике Шерлоке Холмсе и его верном спутнике докторе Уотсоне.
								</p>
								<p>В настоящее издание вошли два сборника рассказов о знаменитом сыщике — «Его прощальный поклон» (1917 г.) и «Архив Шерлока Холмса» (1927г.).
								<br clear="all"/></p>
					    </div>

					  </div>
					</div>

				</p> 
				<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
(function(){ var widget_id = 'EfGSng87u1';
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>
<!-- {/literal} END JIVOSITE CODE -->
		</body>
		
		 <footer>
        <div class="container" >
            <div class="row">
                <div class="col-xs-12 col-md-9 text-center" style="height:100%; width:100%; background:grey;">
                    <p>Vinnytsia National Technical University</p>
                     <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> (097) 195-3100</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:name@example.com">batsandrey@google.com</a>
                        </li>
                    </ul>
                    <p class="text-muted">Copyright &copy; SiteOfGroup 2015</p>
                </div>
            </div>
        </div>
    </footer>

</html>
