<!DOCTYPE html>
<html>
     <head>
    
	    <meta charset="utf-8"/>

		<title> Web Page</title>
		<link rel="stylesheet" href="css/bootstrap.css" media="screen"/>
		<link rel="icon" href="images/favicon.ico" type="image/x-icon"/>
		<link href="/css/style.css" rel="stylesheet"/>

    </head>

    <body>

    <div class="page-header">
        <div class="name">
                 <a href="About us.html"><img src="images/imageHeader.jpg" title="Отзывчивое изображение в Bootstrap" width="1315" height="300" /></a>
  
	    </div> 
	</div>

		<ol class="breadcrumb">
		  <li><a href="Home.html">Домашня сторінка</a></li>
		  <li><a href="Cathalogs.html">Каталог</a></li>
		  <li><a href="About us.html">Про нас</a></li>
		  <li><a href="Contacts.html">Наші контакти</a></li>
		</ol>



				<p align = "center">  
					<div class="container">
					  <div class="row">

					               
							<div class="col-xs-6 col-md-3" style="height:300px; background:orange;">
								
						

						<div class="nav">	
							 <ul class="nav nav-list" >
								  <li  class="active" color="red">
								    <a href="#"><strong>Популярне</strong></a>
								  </li>
								  <li>
								    <a href="#"><strong>Нове</strong></a>
								  </li>
								   <li>
								    <a href="#"><strong>Бестселлери</strong></a>
								  </li>
							</ul>
						</div> 
								 
								
							</div>
	
					    <div class="col-xs-12 col-md-9" style=" background:green;">
                             
                         
								 <h2 align="center">Книжковий інтернет-магазин</h2>
 								 <h2 align="center">Наші контакти</h2>
 								 
 		
									  <div class="coll"> 
										    <div class="col1"> 
										   	 <b>Телефони:</b>
										        <p>80961234567</p>
										        <p>80631234567</p>
										    </div>
								
										    <div class="col2">
										    <b>Графік роботи:</b>
										   		<p>Пн-Пт 8.00-20.00</p>
												<p>Сб-Нд 10.00-18.00</p>
								
										    </div>
										    <div class="col3">
										   	 <b>Skype:</b>
										   		<p>Kniga789</p>
										    </div>
								
										    <div class="col4">
										    <b>E-mail</b>
										   		<p>Kniga789@mail.ru</p>
										    </div>
								
										    <div class="col5">
										      <b>ICQ:</b>
										  		<p>987456321</p>
										    </div>
						   </div>
					    </div>
					    
			
					  </div>
					</div>
					</p>
		</body>
</html>
