<!DOCTYPE html>
<html>
    <head>
	    <meta charset="utf-8"/>

		<title> Web Page</title>
		<link rel="stylesheet" href="css/bootstrap.css" media="screen"/>
		<link rel="icon" href="images/favicon.ico" type="image/x-icon"/>
		<link href="css/style.css" rel="stylesheet"/>

    </head>

    <body>

    <div class="page-header">
        <div class="name">
                 <a href="About us.html"><img src="images/imageHeader.jpg" title="Отзывчивое изображение в Bootstrap" width="1315" height="300" /></a>
	               
	    </div> 
	</div>

		<ol class="breadcrumb">
		  <li><a href="Home.html">Домашня сторінка</a></li>
		  <li><a href="Cathalogs.html">Каталог</a></li>
		  <li><a href="About us.html">Про нас</a></li>
		  <li><a href="Contacts.html">Наші контакти</a></li>
		</ol>



				<p align="center">  
					<div class="container">
					  <div class="row">

					               
							<div class="col-xs-6 col-md-3" style="height:300px; background:orange;">
								
						

								<div class="nav">	
									 <ul class="nav nav-list">
										  <li  class="active" color="red">
										    <a href="#"><strong>Популярне</strong></a>
										  </li>
										  <li>
										    <a href="#"><strong>Нове</strong></a>
										  </li>
										   <li>
										    <a href="#"><strong>Бестселлери</strong></a>
										  </li>
									</ul>
								</div> 
								
							   </div>
	
							    <div class="col-xs-12 col-md-9" style="height:300px; background:green;">
			                             <h2> 
											<div class="col-xs-6 col-md-3">
											    
											    <a href="#" class="thumbnail">
											  

											      <img src="/images/book.jpg" alt="..." border="0" title="This is image" />
											    </a>
											 </div>

											 <div class="col-xs-6 col-md-3">
											    <a href="#" class="thumbnail">
											      <img src="/images/book.jpg" alt="..."/>
											    </a>
											</div>

											<div class="col-xs-6 col-md-3">
											    <a href="#" class="thumbnail">
											      <img src="/images/book.jpg" alt="..."/>
											    </a>
											</div>

											<div class="col-xs-6 col-md-3">
											    <a href="#" class="thumbnail">
											      <img src="/images/book.jpg" alt="..."/>
											    </a>
											</div>
									    </h2>
							    </div>
					       </div>
					</div>
</p>


<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
(function(){ var widget_id = 'EfGSng87u1';
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>
<!-- {/literal} END JIVOSITE CODE -->
	
     </body>
</html>
